@page "/clients/create"
@inherits AddClientBase


<h4 class="mat-h4 mb-1"> Informacion del Cliente</h4>


<div class="card mat-elevation-z4">
    <div class="card-body">
        <ClientForm Client="Client" OnValidSubmit="Crear" />
    </div>
</div>





