<div class="navbar-custom navbar-custom-dark">
    <div class="logo-box">
        <a href="/" class="logo text-center">
            <span class="logo-lg">
                <img src="/assets/img/WhiteLogo.png" alt="" height="40">
            </span>
            <span class="logo-sm">
                <img src="/assets/img/top_logo.png" alt="" height="24">
            </span>
        </a>
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="d-none d-sm-block">

        </li>
    </ul>
</div>

@code {
    bool isOpen { get; set; } 

    protected void onclick()
    {
        isOpen = !isOpen;
        StateHasChanged();
    }
}
