@inherits SelectPaymentTypeBase

@if (PaymentTypes == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-info m-2" role="status"></div>
    </div>
}
else
{
    <select @bind="_paymentType" class="form-control">
        <option value="0" selected>Seleccionar..</option>
        @foreach (var item in PaymentTypes)
        {
            <option value="@item.ID">@item.Description</option>
        }
    </select>
    <ValidationMessage For="@(() => SelectPayment.PaymentTypeID)" />
}






