
<CascadingValue Value="this">
    <ul class="nav nav-tabs">
        @ChildContent
    </ul>
</CascadingValue>

<div class="tab-content">
    <div class="tab-pane show active">
        @if (ActiveTab != null)
        {
            @ActiveTab.ChildContent
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    public ITab ActiveTab { get; set; }

    public void AddTab(ITab tab)
    {
        if (ActiveTab == null)
        {
            SetActivateTab(tab);
        }
    }

    public void RemoveTab(ITab tab)
    {
        if (ActiveTab == tab)
        {
            SetActivateTab(null);
        }
    }

    public void SetActivateTab(ITab tab)
    {
        if (ActiveTab != tab)
        {
            ActiveTab = tab;
            StateHasChanged();
        }
    }


}
