@page "/subagents/create"
@inherits AddSubAgentBase

<h4 class="mat-h4 mb-1">Informacion del Grupo</h4>

<div class="card mat-elevation-z4">
    <div class="card-body">
        <SubAgentForm SubAgent="SubAgent" OnValidSubmit="Create"/>
    </div>
</div>