@inherits AddModificationEndorsementBase
@page  "/endorsement/Modifys/{InsuranceID:int}"


<div class="card-box mat-elevation-z4">
    <div class="row p-2">
        <div class="col-lg-3 border-right border-blue " style="min-height:70vh">
            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Listado de Endosos</h5>

            <h5>General</h5>
            <hr />

            @*<!---------------------RADIO BUTTONS MENU-------------------------->*@
            <select @bind="_endorsementType" class="form-control">
                <option value="0">Seleccionar...</option>
                <option value="1">Cobertura de Contratante</option>
                <option value="2">Cambio de Direccion</option>
                <option value="3">Beneficiario Preferente</option>
                <option value="4">Cambio de RFC</option>
            </select>

        </div>
        <div class="col-lg-9 mat-elevation-z4">
            @Content
        </div>
    </div>
</div>

@code{
    RenderFragment Content { get; set; }

    int _endorsementType
    {
        get
        {
            return EndorsementType;
        }
        set
        {
            EndorsementType = value;
            SelectEndorsement();
        }
    }

    void SelectEndorsement()
    {
        switch (EndorsementType)
        {
            case 1:
                Content =@<EndorsementChangeClient InsuranceID="InsuranceID" />;
            break;
            case 2:
                Content = @<EndorsementChangeDireccion InsuranceID="InsuranceID"/>;
                break;
            case 3:
                Content = @<EndorsementChangeBeneficiary InsuranceID="InsuranceID"/>;
                break;
            case 4:
                Content = @<EndorsementChangeRFC InsuranceID="InsuranceID"/>;
                break;
            default:
                Content = null;
                break;
        }

        StateHasChanged();
    }

}