@page "/agents/create"
@inherits AddAgentBase

<h4 class="mat-h4 mb-1">Informacion del Agente</h4>

<div class="card mat-elevation-z4">
    <div class="card-body">
        <AgentForm Agent="Agent" OnValidSubmit="Crear" />
    </div>
</div>



