@inherits AgentFormBase
@*
    <EditForm Model="Agent" OnValidSubmit="OnValidSubmitCreate">
        <div class="text-center">
            <strong class="text-info">Fecha de captura: </strong> @Agent.IssueDate.ToString("dd/MM/yyyy")
        </div>

        <DataAnnotationsValidator />

        <div class="form-row">
            <div class="form-group col-md-2">
                <MatSelect Label="Entidad" Enhanced="true" @bind-Value="Agent.PersonType" Style="width:100%;">
                    <MatOption Value=""></MatOption>
                    <MatOption Value="Fisica">Fisica</MatOption>
                    <MatOption Value="Moral">Moral</MatOption>
                </MatSelect>
            </div>

            <div class="form-group col-md-2">
                <MatCheckbox @bind-Checked="@Agent.Status" Label="Activo"></MatCheckbox>
            </div>
        </div>

        <hr style="border: .5px solid #c1d1d7" />

        @if (Agent.PersonType == "Fisica")
        {
            <div class="form-row">
                <div class="form-group col-md-4">
                    <MatTextField Label="Apellido Paterno" @bind-Value="Agent.LastName" Style="width:100%;"/>
                </div>
                <div class="form-group col-md-4">
                    <MatTextField Label="Apellido Materno" @bind-Value="Agent.SecondLastName" Style="width:100%;" />
                </div>
                <div class="form-group col-md-4">
                    <MatTextField Label="Nombre(s)" @bind-Value="Agent.Name" Style="width:100%;" />
                </div>
            </div>
        }
        else
        {
            <div class="form-row">
                <div class="form-group col-md-12">
                    <MatTextField Label="Razon social" @bind-Value="Agent.CompanyName" Style="width:100%;" />
                </div>
            </div>
        }

        <hr style="border: .5px solid #c1d1d7" />

        <div class="form-row">
            <div class="form-group col-4">
                <MatDatePicker Label="Fecha de Expiracion" @bind-Value="Agent.ExpirationDate" EnableTime="false" DateFormat="d-m-Y" Style="width:100%;"></MatDatePicker>
            </div>

            <div class="form-group col-4">
                <MatTextField Label="Numero de Telefono" @bind-Value="Agent.PhoneNumber" Style="width:100%;" />
            </div>

            <div class="form-group col-4">
                <MatTextField Label="Correo Electronico" @bind-Value="Agent.PersonalEmail" Style="width:100%;" />
            </div>
        </div>

        <hr style="border: .5px solid #c1d1d7" />

        <AddAddress items="AddressList" />

        <div class="form-row">
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-blue waves-effect waves-light">
                    <span class="btn-label"><i class="far fa-save"></i></span>Guardar Datos
                </button>
            </div>
        </div>
    </EditForm>
*@

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="Agent" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-group col-lg-12 mb-3  p-0">
                        <div class="row">
                            <div class="col-lg-4">
                                <MatSelect Disabled="@ReadOnly" Label="Entidad" Enhanced="true" @bind-Value="Agent.PersonType" Style="width:100%;">
                                    <MatOption Value=""></MatOption>
                                    <MatOption Value="Fisica">Fisica</MatOption>
                                    <MatOption Value="Moral">Moral</MatOption>
                                </MatSelect>
                            </div>
                            
                            <div class="col-lg-4"></div>

                            <div class="col-lg-4">
                                <label>Clabe</label>
                                <input class="form-control readonly-input" @bind-value="Agent.Code"/>
                                <ValidationMessage For="@(() => Agent.Code)"/>
                            </div>
                        </div>
                    </div>

                    @if (Agent.PersonType == "Fisica")
                    {
                        <div class="form-group row">
                            <div class="col-md-4">
                                Apellido paterno
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                    </div>
                                    <input  @bind-value="Agent.LastName" class="form-control readonly-input" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                Apellido materno
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                    </div>
                                    <input  @bind-value="Agent.SecondLastName" class="form-control readonly-input" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                Nombres(s)
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                    </div>
                                    <input  @bind-value="Agent.Name" class="form-control readonly-input" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <div class="col-md-12">
                                Nombre comercial
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                    </div>
                                    <input  @bind-value="Agent.CompanyName" placeholder="Ingresar nombre comercial de cliente" class="form-control readonly-input" />
                                </div>
                            </div>
                        </div>
                    }

                    <hr />

                    <div class="form-group row">
                        <div class="col-md-6">
                            Numero de Telefono
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                </div>
                                <input  @bind-value="Agent.PhoneNumber" class="form-control readonly-input" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            Correo electronico
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-circle" style="font-size: 11px;"></i></span>
                                </div>
                                <input  @bind-value="Agent.PersonalEmail" class="form-control readonly-input" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <MatDatePicker Label="Fecha de Expiracion" @bind-Value="Agent.ExpirationDate" EnableTime="false" DateFormat="d-m-Y" Style="width:100%;"></MatDatePicker>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <div class="col-md-12">
                            <AddAddress items="AddressList" />
                        </div>
                    </div>


                    @if (!ReadOnly)
                    {
                        <div class="row text-center">
                            <div class="col-12">
                                <div class="p-3">
                                    <button id="submit_btn" class="ladda-button btn btn-blue">
                                        Guardar Datos
                                    </button>
                                </div>
                            </div>
                        </div><!---->
                    }

                </EditForm>
            </div>
        </div>
    </div>
</div>
