@inherits EditAgentBase
@page  "/agents/edit/{AgentID:int}"

<div class="card mat-elevation-z4">
    <div class="card-body">
        <AgentForm Agent="Agent" OnValidSubmit="Editar" />
    </div>
</div>
