@page "/companies/edit/{CompanyID:int}"

@inherits EditCompanyBase


<h4 class="mat-h4 mb-1">Informacion de la Compañia</h4>

<div class="card mat-elevation-z4">
    <div class="card-body">
        @if (Company != null)
        {
            <CompanyForm Company="Company" OnValidSubmit="Editar" />
        }
        else
        {
            <div class="d-flex justify-content-center border-top border-blue">
                <div class="spinner-grow avatar-lg text-secondary m-2 text-center" role="status"></div>
            </div>
        }
    </div>
</div>



