@inherits RegisterPaymentFormBase

    <div class="col-12 text-center mt-2">
        <strong class="text-info">Fecha de Captura:</strong> <span class="">@InsurancePayment.IssueDate.Value.ToString("dd-MM-yyyy")</span>
    </div>

    <EditForm Model="InsurancePayment" OnValidSubmit="RegisterPayment">
        <div class="form-group mt-3">
            <label>Banco</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-university"></i></span>
                </div>
                <input class="form-control" @bind-value="InsurancePayment.Bank" />
            </div>
        </div>

        <div class="form-group mt-3">
            <label>Tipo de Pago</label>
            <select class="form-control" @bind="InsurancePayment.PaymentType">
                <option value="efectivo">Efectivo</option>
                <option value="deposito">Deposito</option>
                <option value="transferencia">Transferencia</option>
                <option value="tarjetaDeCredito">Tarjeta de Credito</option>
            </select>
        </div>

        <div class="form-group mt-3 col-lg-6 p-lg-0 col-12">
            <MatDatePicker Label="Fecha de Pago" @bind-value="InsurancePayment.DatePayment" Style="width:100%;" />
        </div>

        <div class="form-group mt-3 col-lg-6 p-lg-0 col-12">
            <label>Cantidad a Pagar</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" @bind-value="InsurancePayment.PaymentAmount" />
            </div>
        </div>

        <div class="form-group mt-3 d-flex justify-content-lg-end">
            <button type="submit" class="btn btn-blue waves-effect waves-light">
                <span class="btn-label">
                    <i class="far fa-save"></i>
                </span>
                Guardar Datos
            </button>
        </div>
    </EditForm>
